@font-face {
    font-family: title-font;
    src: url(Quicksand-Regular.ttf);
}

@font-face {
    font-family: sub-title-font;
    src: url(Quicksand-Light.ttf)
}

@font-face {
    font-family: page-title-font;
    src: url(Lato-Light.ttf)
}

@font-face {
    font-family: page-sub-title-font;
    src: url(Lato-ThinItalic.ttf)
}


.home-title {
    font-family: title-font;
    color: black;
    text-align: left;
    text-indent: 1000px;
    /*background-color: black;*/
}

.home-sub-title {
    font-family: sub-title-font;
    color: black;
    text-align: left;
    text-indent: 1050px
}

.animal-title {
    font-family: page-title-font;
    color: black;
    text-align: center;
}

.animal-sub-title {
    font-family: page-sub-title-font;
    color: black;
    text-align: center;
}
